[Install]
WantedBy=multi-user.target

[Unit]
Description=Pulsar Broker
After=network.target
After=syslog.target

[Service]
Type=simple
ExecStart=/opt/training/apps/pulsar/bin/pulsar broker
WorkingDirectory=/opt/training/apps
User=pulsar
Group=pulsar
RestartSec=20s
Restart=on-failure


[Install]
WantedBy=multi-user.target